<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>

            <!-- app download -->
            <div>
                Go to <a href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=com.oceanit.hoseo_oceanit&ddl=1&pcampaignid=web_ddl_1" download>Download</a> Ocean-IT app!<br>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
