<div class="2u 12u$(xsmall)">
    <div class="table-wrapper">
        <table class="alt">
            <tbody style="text-align: center;">
                <tr style="cursor: pointer" onclick="location.href='/research_fields'" >
                    <td><%= __('Research_Project')%><span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="location.href='/research_results'" >
                    <td><%= __('Research_performance')%><span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="alert('개발중입니다')" >
                    <td><%= __('Research_activities')%><span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="location.href='/academic_activities'" >
                    <td><%= __('Academic_activities')%><span style="float:right;">></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>