<div class="2u 12u$(xsmall)">
    <div class="table-wrapper">
        <table class="alt">
            <tbody style="text-align: center;">
                <tr style="cursor: pointer" onclick="location.href='/research_fields'" >
                    <td>연구 과제<span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="location.href='/research_results'" >
                    <td>연구 성과<span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="alert('개발중입니다')" >
                    <td>연구 협력<span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="location.href='/academic_activities/page/1'" >
                    <td>학술 활동<span style="float:right;">></span></td>
                </tr>
                <tr style="cursor: pointer" onclick="alert('개발중입니다')">
                    <td>갤러리<span style="float:right;">></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>