<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="row uniform">
        <div class="1u 12u$(xsmall)"></div>
        <%include includes/treebar.ejs%>
        <div class="8u 12u$(xsmall)">    
            <div class="inner">
            <header class="align-center">
                <%if(tran_value=='ko'){%>
                    <h2 style="text-align: center; font-weight: bold"><img style="width:100%; height: 100%;"src="/images/mainpage.png" alt="Pic 01" /></h2>
                <%}else{%>
                    <h2 style="text-align: center; font-weight: bold"><img style="width:100%; height: 100%;"src="/images/mainpage_en.png" alt="Pic 01" /></h2>
                <%}%>
                
            </header>
        </div>

    </div>
    <div class="1u 12u$(xsmall)"></div>
    </div>
</section>
<%include includes/footer.ejs%>