<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="row uniform">
        <div class="1u 12u$(xsmall)"></div>
        <%include includes/treebar.ejs%>
        <div class="8u 12u$(xsmall)">    
            <div class="inner">
            <header class="align-center">
                <h2>연구 활동 페이지입니다.</h2>
                <p>좌측에서 메뉴를 선택해 주세요.</p>
                <h2 style="text-align: center; font-weight: bold"><img style="width:70%; height: 70%;"src="/images/mainpage.png" alt="Pic 01" /></h2>
                <h2 style="text-align: center; font-weight: bold"><img style="width:70%; height: 70%;"src="/images/mainpage2.png" alt="Pic 01" /></h2>
            </header>
        </div>
    </div>
    <div class="1u 12u$(xsmall)"></div>
    </div>
</section>
<%include includes/footer.ejs%>